body {
  font-family: sans-serif;
  background: #dff5f3;
  padding: 20px;
}


.container {
  max-width: 600px;
  margin: auto;
  background: rgba(255, 255, 255, 0.288);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #817298;
}

.pregunta {
  margin-bottom: 20px;
}

button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background: #817298;
  color: rgba(255, 255, 255, 0.938);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.resultado {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.carta {
  background: #fffafc;
  border-left: 6px solid #bb8fce;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 20px;
  font-family: 'Segoe UI', sans-serif;
}

